<mat-sidenav-container>
  <mat-sidenav [(opened)]="sideNavOpened" mode="side" class="sidenav">
    <app-vault-sidenav [vaults]="vaults"
                       (refreshEmitter)="handleRefreshAction()"
                       (newVaultEmitter)="openVaultCreationDialog()"
                       (closeSidenavEmitter)="changeSidenavVisibility()">
    </app-vault-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="!sideNavOpened">
      <button mat-button color="primary" class="menu-button" (click)="changeSidenavVisibility()">
        <mat-icon class="icon-display">list</mat-icon>
      </button>
    </div>
    <div class="empty-content" *ngIf="isMainPageOpened(); else vaultContent">
      <mat-icon color="primary" class="main-icon">security</mat-icon>
      <h1 class="mat-h1">Welcome to PassManager</h1>
      <h1 class="mat-h1">Start by opening vault or creating one in the side menu</h1>
    </div>
    <ng-template #vaultContent>
      <app-vault-content [vaultContent]="selectedVault()" (deleteEmitter)="refreshVaults()"></app-vault-content>
    </ng-template>

  </mat-sidenav-content>
</mat-sidenav-container>
