<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="sideNavOpened" mode="side" class="sidenav">
    <app-vault-sidenav [sidenavRef]="sidenav" [vaults]="vaults" (refreshEmitter)="refreshVaults()"></app-vault-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="!sideNavOpened">
      <button mat-button color="primary" class="menu-button" (click)="sideNavOpened = !sideNavOpened">
        <mat-icon class="icon-display">list</mat-icon>
      </button>
    </div>
    <div class="vault-info">Vault information and operations(like find users, delete, synchronise, save</div>

    <div *ngIf="vaults && vaults.length === 0">
      <form [formGroup]="vaultForm" (ngSubmit)="createNewVault(vaultForm.value)">
        <h3 class="mat-h3">Start by creating your first vault</h3>
        <mat-form-field>
          <mat-label>Vault name</mat-label>
          <label for="name"></label>
          <input matInput id="name" formControlName="name" type="text" required>
        </mat-form-field>
        <button mat-flat-button type="submit" color="primary" [disabled]="!vaultForm.valid">Create</button>
      </form>
    </div>

    <div *ngFor="let vault of vaults">
      {{vault.data.vaultName}}
      {{vault.data.createdAt}}
      {{vault.data.modifiedDate}}
    </div>

    <button mat-flat-button (click)="createNewVault({name: 'new vault'})" color="primary">Click to create new vault</button>
    <button mat-flat-button (click)="modifyVault()" color="accent">Click to modify vault date</button>
    <button mat-flat-button (click)="deleteVault()" color="warn">Click to delete vault</button>
  </mat-sidenav-content>
</mat-sidenav-container>
