<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="navbar-padding" aria-hidden="false">security</mat-icon>
    <button mat-flat-button color="primary" routerLink="/" class="navbar-text">PassManager</button>
    <button mat-flat-button color="primary" routerLink="/vault" class="navbar-text">Vaults</button>
    <span class="navbar-spacer"></span>
    <button mat-flat-button color="primary" class="navbar-text navbar-padding" (click)="logOutUser()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

