<div id="container-center">
  <div id="welcome-text">
    <h1 class="mat-h1">Welcome to PassManager - secure and easily accessible solution for storage of your passwords</h1>
  </div>
  <div class="feature white-text">
    <div class="home-element">
      <h1 class="mat-h1">We do not share your personal info</h1>
    </div>
    <div class="home-element">
      <mat-icon class="home-icon">person</mat-icon>
    </div>
  </div>
  <div class="feature primary-text">
    <div class="home-element">
      <h1 class="mat-h1">Nobody can access your passwords without permission</h1>
    </div>
    <div class="home-element">
      <mat-icon class="home-icon">build</mat-icon>
    </div>
  </div>
  <div class="feature white-text">
    <div class="home-element">
      <h1 class="mat-h1">You can share your passwords with your friends</h1>
    </div>
    <div class="home-element">
      <mat-icon class="home-icon">share</mat-icon>
    </div>
  </div>
  <div class="feature primary-text">
    <div class="home-element">
      <h1 class="mat-h1">Code engineered by the best to ensure your data is safe and secure</h1>
    </div>
    <div class="home-element">
      <mat-icon class="home-icon">code</mat-icon>
    </div>
  </div>
</div>
