<div class="vault-row">
  <div class="vault-row-header">
    <button mat-button color="primary">Title: {{vaultRow.name}}</button>
    <div id="vault-row-actions">
      <button mat-button color="primary" class="action-button" *ngIf="!this.disabled" (click)="saveChanges()">
        <mat-icon>
          done
        </mat-icon>
      </button>
      <button *ngIf="role !== 'VIEWER'" mat-button color="primary" class="action-button" (click)="changeEditMode()">
        <mat-icon>
          {{getIconType()}}
        </mat-icon>
      </button>
      <button *ngIf="role !== 'VIEWER'" mat-button color="primary" class="action-button" (click)="deleteEntry()">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </div>
  <form [formGroup]="entryForm" class="vault-row-form">
    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <label>
          <input matInput type="text" formControlName="username"/>
        </label>
      </mat-form-field>
      <button mat-button color="primary" class="clip-button" (click)="copyToClipboard(this.vaultRow.username)">
        <mat-icon>
          save
        </mat-icon>
      </button>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <label>
          <input matInput type="password" formControlName="password"/>
        </label>
      </mat-form-field>
      <button mat-button color="primary" class="clip-button" (click)="copyToClipboard(this.vaultRow.password)">
        <mat-icon>
          save
        </mat-icon>
      </button>
    </div>
    <mat-form-field>
      <mat-label>Created by {{vaultRow.createdBy}} on</mat-label>
      <label>
        <input matInput type="text" formControlName="createdDate"/>
      </label>
    </mat-form-field>
    <mat-form-field *ngIf="vaultRow.updatedDate !== undefined">
      <mat-label>Updated by {{vaultRow.updatedBy}} on</mat-label>
      <label>
        <input matInput type="text" formControlName="updatedDate"/>
      </label>
    </mat-form-field>
  </form>
</div>

