.vault-row{
  background-color: #e0e0e0;
  border-radius: 4px;
  margin: 4px;
}

.vault-row-form {
  display: flex;
  justify-content: space-around;
  margin-top: 4px;
  padding: 0 16px;
}

.vault-row-header{
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  color: #673ab7;
}

.clip-button {
  margin-left: -1rem;
}
