.vault-user-row {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.panel{
  width: 100%;
  color: #673ab7;
}

.primary-color{
  color: #673ab7;
}

.change-form{
  display: flex;
  justify-content: center;
}

.select-form{
  margin-right: 8px;
}
