<div class="vault-users">
  <mat-expansion-panel class="vault-users-options" *ngIf="data.role === 'CREATOR' || data.role === 'ADMIN'" [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add new user to vault
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="addForm" (ngSubmit)="addUserToVault(addForm.value)" class="vault-user-form">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option value="ADMIN">Admin</mat-option>
          <mat-option value="EDITOR">Editor</mat-option>
          <mat-option value="VIEWER">Viewer</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" [disabled]="!addForm.valid">Add user</button>
    </form>
  </mat-expansion-panel>
  <div class="vault-users-list">
    <h3 class="mat-h3">All users</h3>
    <div *ngFor="let user of users">
      <app-vault-user-row [user]="user" [role]="data.role" [vaultId]="data.id"></app-vault-user-row>
    </div>
  </div>
</div>
