<div class="vault-users">
  <mat-expansion-panel class="vault-users-options" *ngIf="data.role === 'CREATOR' || data.role === 'ADMIN'" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add new user to vault
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="addForm" (ngSubmit)="addUserToVault(addForm.value)" class="vault-user-form">
      <mat-form-field class="vault-user-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="vault-user-form-field">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option value="ADMIN">Admin</mat-option>
          <mat-option value="EDITOR">Editor</mat-option>
          <mat-option value="VIEWER">Viewer</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" class="vault-user-form-field" [disabled]="!addForm.valid">Add user</button>
    </form>
    <div *ngIf="errorMsg" class="error-box register-form-field">
      <mat-icon class="info-icon">error_outline</mat-icon>
      {{errorMsg}}
    </div>
  </mat-expansion-panel>
  <div class="vault-users-list">
    <h2 class="mat-h2">All vault users</h2>
    <div *ngFor="let user of users">
      <app-vault-user-row [user]="user" [role]="data.role" [vaultId]="data.id" (changeEmitter)="refresh()"></app-vault-user-row>
    </div>
  </div>
</div>
