.sidenav-options {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.sidenav-options > mat-icon {
  transform: scale(2);
}

.vault-text {
  text-align: center;
  margin: auto;
  color: #673ab7;
}

.vault-row {
  width: 100%;
}

.vault-row-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.vault-row-icon {
  margin-right: 8px;
}

.add-vault{
  display: flex;
  justify-content: center;
  width: 100%;
}

.add-vault > mat-icon {
  transform: scale(2);
  width: 100%;
}
