.error-box {
  display: flex;
  color: #D8000C;
  background-color: #FFD2D2;
  padding: 8px 0;
  margin-bottom: 8px;
  border-radius:.5em;
  border: 2px solid;
}

.error-icon {
  margin-right: 16px;
}
