#vault-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #673ab7;
  border-radius: 4px;
  padding: 4px;
}

#vault-info {
  display: flex;
  justify-content: space-around;
  color: #673ab7;
}

.entry-button{
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.vault-option {
  padding: 6px;
  margin: 6px;
}

.option-button {
  -webkit-text-fill-color:white;
  transform: scale(1.3);
}
