#vault-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #673ab7;
  border-radius: 4px;
}

.vault-option {
  padding: 4px;
  margin: 4px;
}

.option-button {
  -webkit-text-fill-color:white;
  transform: scale(1.3);
}
