<div id="vault-options">
  <button mat-button class="vault-option option-button" (click)="showVaultUsers()">
    <mat-icon>people</mat-icon>
    Users
  </button>
  <button *ngIf="vaultContent.role !== 'VIEWER'" mat-flat-button class="vault-option option-button" (click)="saveVault()" [color]="saveButtonColor">
    <mat-icon>save_alt</mat-icon>
    Save
  </button>
  <button *ngIf="vaultContent.role !== 'VIEWER' && vaultContent.role !== 'EDITOR'"mat-button class="vault-option option-button" (click)="deleteVault()">
    <mat-icon>delete</mat-icon>
    Delete
  </button>
  <button mat-button class="vault-option option-button" (click)="showVaultInfo()">
    <mat-icon>info</mat-icon>
    Info
  </button>
</div>
<div class="entry-button">
  <button mat-flat-button color="primary" (click)="createNewEntry()">
    <mat-icon>add</mat-icon>
    Create new entry
  </button>
</div>
<div *ngFor="let row of vaultContent.data.rows">
  <app-vault-row [vaultRow]="row" (deleteEmitter)="deleteRow($event)" (changeEmitter)="showChanged($event)" [role]="vaultContent.role"></app-vault-row>
</div>
