<form [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)">
  <div>
    <label for="email">Email</label>
      <input id="email" type="text" formControlName="email"/>
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password"/>
  </div>

  <div>
    <label for="passphrase">Passphrase</label>
    <input id="passphrase" type="password" formControlName="passphrase"/>
  </div>

  <button type="submit">Authenticate me</button>
</form>

